h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-font-color);
  font-family: Roboto, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --primary-font-color: #ffffff;
  --secondary-font-color: #2f303a;
  --section-font-color: #f5f4fa;
  --logo-dark-color: #000000;
  --logo-accent-color: #2196f3;
  --accent-color: #2196f3;
  --hero-button-hover: #188ce8;
  --button-bcg-color: #f5f4fa;
  --border-line: #ececec;
  --border-portfolio: #eeeeee;
  --card-set-gap: 30px;
  --primary-icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(3);
  transition: transform 250ms var(--timing-function);
}

.modalField {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  overflow: hidden;
  background-color: var(--primary-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
}
.modalField__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalField__btn:hover, .modalField__btn:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalField__title {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--secondary-text-color);
}

.form__field {
  margin-bottom: 10px;
}
.form__field input {
  width: 100%;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  height: 40px;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  transition: border 250ms var(--timing-function);
}
.form__input:focus {
  border: 1px solid #2196f3;
  transition: border 250ms var(--timing-function);
}

.form__text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__img {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--secondary-text-color);
  transition: fill 250ms var(--timing-function);
}
.form__img:focus {
  color: var(--accent-color);
}
.form__input:focus ~ .form__img {
  fill: var(--accent-color);
  transition: fill 250ms var(--timing-function);
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.textareaField {
  margin-bottom: 20px;
}

.textarea__comment {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.textarea__form {
  display: block;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  cursor: pointer;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 19px;
  padding-left: 12px;
  transition: border 250ms var(--timing-function);
}
.textarea__form:focus {
  border: 1px solid #2196f3;
  transition: border 250ms var(--timing-function);
}
.textarea__form::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea__form:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea__form::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox__label {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 7px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox .checkbox__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.checkbox__custom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms var(--timing-function);
}
.checkbox__input:checked + .checkbox__custom {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--white-text-color);
  transition: background-color 250ms var(--timing-function);
}
.checkbox__input:focus + .checkbox__custom {
  border-color: var(--accent-color);
}

.checkboxField {
  margin-bottom: 30px;
}

.formButton {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 52px;
  transition: background 250ms var(--timing-function);
}
.formButton:hover, .formButton:focus {
  background: var(--hero-button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms var(--timing-function);
}

.header {
  border-bottom: 1px solid var(--border-line);
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
}
.header__logo {
  display: flex;
  align-items: center;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-dark-color);
}
.header__logo--accent {
  color: var(--logo-accent-color);
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list .header__link--current {
  color: var(--accent-color);
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms var(--timing-function);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}
.header__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__item a:hover, .contacts__item a:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts__mail, .contacts__tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}
.contacts__mailIcon, .contacts__telIcon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: var(--secondary-font-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/HeaderImg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 10px 24px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hero-button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.features__list {
  display: flex;
  gap: var(--card-set-gap);
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__icon {
  width: 100%;
  border-radius: 4px;
  background-color: var(--section-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 100px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
    height: 120px;
  }
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.description {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .description {
    display: none;
  }
}
.description__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.description__list {
  display: flex;
}
.description__item {
  position: relative;
}
.description__item:not(:last-child) {
  margin-right: 30px;
}
.description__label {
  position: absolute;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--section-font-color);
}
.team__title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  flex-direction: column;
  gap: var(--card-set-gap);
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.team__item {
  background-color: var(--primary-font-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}
.team__img {
  margin-bottom: 30px;
  width: 100%;
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.teamSoc {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px 30px 32px;
}
.teamSoc__item {
  height: 44px;
  width: 44px;
}
.teamSoc__link {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--primary-font-color);
  fill: var(--primary-icon-color);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.teamSoc__link:hover, .teamSoc__link:focus {
  fill: var(--white-text-color);
  background-color: var(--accent-color);
}
.teamSoc__icon {
  width: 20px;
  height: 20px;
}

.clients__title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--card-set-gap);
}

.clients__item {
  width: 170px;
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--primary-icon-color);
  cursor: pointer;
  color: var(--primary-icon-color);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.clients__icon {
  fill: currentColor;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--button-bcg-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), filter 250ms var(--timing-function);
}
.filter__btn--first {
  padding: 6px 25px;
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}
.project__item {
  width: calc(33.3333333333% - 30px);
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
}
.project__link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__thumb {
  position: relative;
  overflow: hidden;
}
.project__overlay {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 64px 24px;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.project__link:hover .project__overlay {
  transform: translateY(0%);
}
.project .project__box {
  padding: 20px 24px;
  border-right: 1px solid var(--border-portfolio);
  border-bottom: 1px solid var(--border-portfolio);
  border-left: 1px solid var(--border-portfolio);
  overflow: hidden;
}
.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.project__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer {
  background-color: var(--secondary-font-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: baseline;
    justify-content: start;
    flex-direction: row;
    text-align: inherit;
  }
}
.footer__logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  display: inline-block;
  margin-bottom: 20px;
}
.footer__logo--accent {
  color: var(--logo-accent-color);
}

.address {
  width: 231px;
  font-style: normal;
}
.address__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  display: inline-block;
  margin-bottom: 9px;
  transition: color 250ms var(--timing-function);
}
.address__map:hover, .address__map:focus {
  color: var(--accent-color);
}
.address__mail, .address__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: inline-block;
  color: var(--transparent-white-color);
  transition: color 250ms var(--timing-function);
}
.address__mail:hover, .address__mail:focus, .address__tel:hover, .address__tel:focus {
  color: var(--accent-color);
}
.address__mail {
  margin-bottom: 9px;
}

.footerSoc__label {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.footerSoc__list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}
.footerSoc__item {
  width: 44px;
  height: 44px;
}

.footerSoc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--white-text-color);
  color: var(--primary-font-color);
  background: rgba(255, 255, 255, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color 250ms var(--timing-function);
}
.footerSoc__link:hover, .footerSoc__link:focus {
  background-color: var(--accent-color);
}

.footerSoc__icon {
  fill: currentColor;
}

.footerInput__label {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.footerInput__field {
  background-color: inherit;
  color: var(--white-text-color);
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
}
.footerInput__field::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footerInput__field:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footerInput__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footerInput__button {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  gap: 10px;
  max-width: 200px;
  overflow: hidden;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  fill: var(--white-text-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footerInput__button:hover, .footerInput__button:focus {
  background-color: var(--hero-button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */