.mobMenu {
  @media screen and (min-width: 767.5px) {
    display: none;
  }
}


.menuMin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;

      &__logo {
    display: flex;
    align-items: center;
    padding: 15px 0px;

    font-family: 'Raleway', sans-serif;

    @include fonts(null, 24px, 1.17, 0.03em);

    color: var(--logo-dark-color);

    &--accent {
      color: var(--logo-accent-color);
    }
  }
}

.menuOpen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(-100%);
&__closeBtn {
  display: block;
  margin-left: auto;
}
}
.menuOpen.is-open {
  transform: translateX(0);
}
