.mobMenu {
  @media screen and (min-width: 767.5px) {
    display: none;
  }
  display: flex;
  align-items: center;
  padding: 0px 15px;

  &__logo {
    display: flex;
    align-items: center;
    padding: 15px 0px;

    font-family: 'Raleway', sans-serif;

    @include fonts(null, 24px, 1.17, 0.03em);

    color: var(--logo-dark-color);

    &--accent {
      color: var(--logo-accent-color);
    }
  }
}

.mobMenu__openBtn {
  width: 24px;
  height: 24px;
  margin-left: auto;
}
