.team {
  background-color: var(--section-font-color);

  &__title {
    @include fonts(null, 28px, 1.18, 0.03em);

    text-align: center;

    color: var(--secondary-text-color);

    margin-bottom: 30px;

    @include desktop {
      @include fonts(null, 36px, 1.16, 0.03em);
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    gap: var(--card-set-gap);

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    background-color: var(--primary-font-color);
    text-align: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include tablet {
      width: calc((100% - 30px) / 2);
    }

    @include desktop {
      width: calc((100% - 90px) / 4);
    }

  }

  &__img {
    margin-bottom: 30px;
    width: 100%;
  }

  &__subtitle {
    @include fonts(500, 16px, 1.19, 0.03em);

    color: var(--secondary-text-color);

    margin-bottom: 10px;
  }

  &__text {
    @include fonts(null, 16px, 1.19, 0.03em);
  }
}
