.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(3);
    transition: transform 250ms var(--timing-function);
  }
}

.modalField {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  padding: 40px;

  overflow: hidden;

  background-color: var(--primary-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);

  &__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: transparent;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__title {
    display: block;
    text-align: center;

    @include fonts(null, 20px, 1.15, 0.03em);

    margin-bottom: 12px;
    color: var(--secondary-text-color);
  }
}
