.footerSoc__label {
  display: block;

  @include fonts(null, 14px, 1.14, 0.03em);

  text-transform: uppercase;

  margin-bottom: 20px;
  color: var(--white-text-color);
}

.footerSoc__list {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  gap: 10px;

  &:last-child {
    margin-right: 93px;
  }
}

.footerSoc__item {
  width: 44px;
  height: 44px;
}

.footerSoc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  fill: var(--white-text-color);
  color: var(--primary-font-color);
  background: rgba(255, 255, 255, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footerSoc__icon {
  fill: currentColor;
}
