.footerInput__label {
  display: block;

  @include fonts(null, 14px, 1.14, 0.03em);

  text-transform: uppercase;

  color: var(--white-text-color);

  margin-bottom: 20px;
}

.footerInput__field {
  background-color: inherit;
  color: var(--white-text-color);

  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;

  &::placeholder {

    @include fonts(null, 16px, 1.25, 0.03em);

    color: rgba(255, 255, 255, 0.6);
  }
}

.footerInput__button {
  display: flex;
  align-items: center;
  text-align: center;

  @include fonts(700, 16px, 1.88, 0.06em);

  padding: 10px 28px;
  gap: 10px;
  max-width: 200px;
  overflow: hidden;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  fill: var(--white-text-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hero-button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
