.address {
 

  font-style: normal;

  @include desktop {
  margin-right: 70px;
   width: 231px;
  }

  &__map {
    @include fonts(null, 14px, 1.71, 0.03em);

    color: var(--white-text-color);

    display: inline-block;
    margin-bottom: 8px;

    @include desktop {
      margin-bottom: 9px;
    }

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__mail,
  &__tel {
    @include fonts(null, 14px, 1.71, 0.03em);

    display: inline-block;
    color: var(--transparent-white-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__tel {
    @media screen and (max-width: 1199.5px) {
      margin-bottom: 60px;
    }
  }

  &__mail {
    @media screen and (max-width: 1200px) {
      margin-bottom: 8px;
    }

    @include desktop {
      margin-bottom: 9px;
    }
  }
}
