.footer {
  background-color: var(--secondary-font-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {

    @include desktop {
      display: flex;
      align-items: baseline;
    }
  }

  &__adress {
    text-align: center;

    @include desktop {
      text-align: start;
    }
  }

  &__logo {
    font-family: 'Raleway';

    @include fonts(null, 24px, 1.16, 0.03em);

    @include desktop {
      @include fonts(null, 26px, 1.19, 0.03em);
    }

    color: var(--white-text-color);

    display: inline-block;
    margin-bottom: 20px;

    &--accent {
      color: var(--logo-accent-color);
    }
  }
}

.footerCont {
  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footerField {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}





