.footer {
  background-color: var(--secondary-font-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__adress {
  }

  &__container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
    }

    @include desktop {
      align-items: baseline;
      justify-content: start;
      flex-direction: row;
      text-align: inherit;
    }

    // @media screen and (max-width: 479px){
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
    //   text-align: center;
    // }
  }

  &__logo {
    font-family: 'Raleway';

    @include fonts(null, 24px, 1.16, 0.03em);

    @include desktop {
      @include fonts(null, 26px, 1.19, 0.03em);
    }

    color: var(--white-text-color);

    display: inline-block;
    margin-bottom: 20px;

    &--accent {
      color: var(--logo-accent-color);
    }
  }
}
