.address {
  width: 231px;
  margin-right: 70px;
  font-style: normal;

  &__map {

    @include fonts(null, 14px, 1.71, 0.03em);

    color: var(--white-text-color);

    display: inline-block;
    margin-bottom: 9px;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__mail,
  &__tel {

    @include fonts(null, 14px, 1.71, 0.03em);

    display: inline-block;
    color: var(--transparent-white-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__mail {
  margin-bottom: 9px;
}

}

