:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --white-text-color: #ffffff;
    --transparent-white-color: rgba(255, 255, 255, 0.6);
    --primary-font-color: #ffffff;
    --secondary-font-color: #2f303a;
    --section-font-color: #f5f4fa;
    --logo-dark-color: #000000;
    --logo-accent-color: #2196f3;
    --accent-color: #2196f3;
    --hero-button-hover: #188ce8;
    --button-bcg-color: #f5f4fa;
    --border-line: #ececec;
    --border-portfolio: #eeeeee;
    --card-set-gap: 30px;
    --primary-icon-color: #afb1b8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}